{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyGov</title>

    <!-- mdb -->
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{ % static 'css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">


    <!-- Optional: Bootstrap JavaScript and jQuery (if not included elsewhere in your project) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <!-- MDB UI Kit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
        crossorigin="anonymous">

    <!-- MDB UI Kit JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/shared.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/service.css' %}">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">


    <!-- fontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">


    <!-- javascript -->
    <script src="{% static 'js/share.js' %}" defer></script>
    <script src="{% static 'js/d.js' %}" defer></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js'%}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/popup.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <div class="main-header__div">
            <button class="toggle-button">
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
            </button>
            <a href="index.html" class="main-header__brand">
                <img src="{% static 'images/images/Group.png' %}" alt=" dragon image">
                <h2>easygov</h2>
            </a>

        </div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="{%url 'profile' %}">Profile</a>
                </li>
                <li class="main-nav__item">
                    <a href="{%url 'services' %}">Services</a>
                </li>
                <li class="main-nav__item">
                    <a href="{%url 'Aboutus'%}">About Us</a>
                </li>
                <li class="main-nav__item">
                    <a href="{%url 'Contactus' %}">Contact Us</a>
                </li>
                <li class="main-nav__item main-nav__item--cta">
                    <a href="{%url 'Signup' %}">Sign up</a>
                </li>
                <li class="main-nav__item main-nav__item--cta">
                    <a href="{%url 'loginuser' %}">Login </a>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="{%url 'profile' %}">Profile</a>
            </li>
            <li class="mobile-nav__item">
                <a href="{%url 'services' %}">Services</a>
            </li>
            <li class="mobile-nav__item">
                <a href="{%url 'Aboutus'%}">About Us</a>
            </li>
            <li class="mobile-nav__item">
                <a href="{%url 'Contactus' %}">Contact Us</a>
            </li>
            <li class="mobile-nav__item mobile-nav__item--cta">
                <a href="{%url 'Signup' %}">Sign up</a>
            </li>
        </ul>
    </nav>
    {%block content%}

    {%endblock content%}


</body>

</html>